*.pyc
*.ipynb
/.ipynb_checkpoints/
*.sublime-project
*.sublime-workspace
luigi.cfg
/__pycache__/
__pycache__/
.pytest_cache/
test_pipeline.bat
res/content/win_probabilities.csv
chess_pipeline.egg-info/
*.env
*.csv
*.pckl
**/plots/*
!**/plots/.keep
.luigi_env
.postgres_env
coverage.json
cov_html/
/package
cloud_function.zip
cloud_function/_version.py
_stockfish_lib_version
